<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 <link rel="stylesheet" href="../public/style.css">
</head>

<body>
  <%- include('./partials/navbar.ejs') %>
    <form method="POST" action="/api/products">
      <div>
        <label for="title">Nombre Producto</label>
        <input type="text" name="title" required>
      </div>
      <div>
        <label for="price">Precio</label>
        <input type="number" name="price" required>
      </div>
      <div>
        <input type="submit">
      </div>
    </form>
</body>

</html> 