*{
  box-sizing: border-box;
}

body{
background-color: rgb(0, 0, 0) !important;
}
.flex{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imagen {
  width: 200px;
}

.divForm{
  text-align: -webkit-center;
}

.chatForm{
  text-align: -webkit-center;
}

.input{
  margin-bottom: 10px;
}

#productForm{
  text-align: center;
}

.tarjeta {
  text-align: left;
  max-width: 450px;
}

.maximoAncho{
  margin: 0 auto;
}

.colorTexto a{
  color: white;
}

.textWhite {
  color: white;
  text-decoration: none;
}

.separacion {
  margin-top: 20px;
  text-align: center;
}

.emailAzulNegrita {
  display: flex;
  color: blue;
  font-weight: bold;
  text-align: center;
  align-items: center;
  padding-left: 400px;
  
}

.horaRojo {
  color: red;
}

.mensajeVerdeCursiva {
  color: rgb(247, 242, 242);
  font-style: italic;
}

.mensajeFinal {
  display: flex;
  padding-top: 20px;
}

label {

  font-weight: bold;
  color: antiquewhite;
}

h1 {
  color: antiquewhite;
}