*{
  box-sizing: border-box;
}
.flex{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.imagen {
  width: 200px;
}

.tarjeta {
  text-align: left;
  max-width: 450px;
}

.maximoAncho{
  margin: 0 auto;
}

.colorTexto a{
  color: white;

}
body {
  background-color: black;
}
h1 {
  color: aliceblue;

  text-align: center;
  padding-bottom: 40px;

}
